name: Provider / Go

on:
  push:
    branches: ["main"]
    paths:
      - '.github/workflows/provider-go.yaml'
      - 'provider/**'
      - 'examples/provider/**'
  pull_request:
    branches: ["main"]
    paths:
      - '.github/workflows/provider-go.yaml'
      - 'provider/**'
      - 'examples/provider/**'

env:
  GOLANGCI_VERSION: "v2.1.6"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - ./provider
          - ./examples/provider/http-server
          - ./examples/provider/keyvalue-inmemory

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "${{ matrix.module }}/go.mod"

      - name: Build
        run: go build -C ${{ matrix.module }} -v ./...

      - name: Test
        run: go test -C ${{ matrix.module }} -v ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "./provider/go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: ./provider
