name: Templates

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"

env:
  TINYGO_VERSION: "0.39.0"
  GOLANGCI_VERSION: "v2.1.6"
  WASH_VERSION: "0.37.0"
  WASM_TOOLS_VERSION: "1.240.0"
  WRPC_VERSION: "0.11.1"

permissions:
  contents: read

jobs:
  provider:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - keyvalue-inmemory
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1},wrpc@{2}', env.WASH_VERSION, env.WASM_TOOLS_VERSION, env.WRPC_VERSION) }}
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "templates/provider/${{ matrix.template-name }}/go.mod"
      - name: wash new
        working-directory: "${{ runner.temp }}"
        run: |
          rm -rf sample-provider || true
          wash new provider --silent --path $GITHUB_WORKSPACE/templates/provider/${{ matrix.template-name }} sample-provider
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-provider"
      - name: Go Lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-provider"
          args: --config=${{ github.workspace }}/.golangci.yml
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-provider"

  component:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - http-hello-world
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: taiki-e/install-action@81ee1d48d9194cdcab880cbdc7d36e87d39874cb # v2.62.45
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1}', env.WASH_VERSION, env.WASM_TOOLS_VERSION) }}
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "templates/component/${{ matrix.template-name }}/go.mod"
      - uses: acifani/setup-tinygo@db56321a62b9a67922bb9ac8f9d085e218807bb3 # v2.0.1
        with:
          tinygo-version: ${{ env.TINYGO_VERSION }}
      - name: wash new
        working-directory: ${{ runner.temp }}
        run: |
          rm -rf sample-component || true
          wash new component --silent --path $GITHUB_WORKSPACE/templates/component/${{ matrix.template-name }} sample-component
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-component"
      - name: Go Lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-component"
          args: --config=${{ github.workspace }}/.golangci.yml
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-component"
