name: Templates

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"

env:
  TINYGO_VERSION: "0.37.0"
  GOLANGCI_VERSION: "v1.64.2"
  WASH_VERSION: "0.37.0"
  WASM_TOOLS_VERSION: "1.225.0"
  WRPC_VERSION: "0.11.1"

permissions:
  contents: read

jobs:
  provider:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - keyvalue-inmemory
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: taiki-e/install-action@be7c31b6745feec79dec5eb79178466c0670bb2d # v2.49.49
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1},wrpc@{2}', env.WASH_VERSION, env.WASM_TOOLS_VERSION, env.WRPC_VERSION) }}
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "templates/provider/${{ matrix.template-name }}/go.mod"
      - name: wash new
        working-directory: "${{ runner.temp }}"
        run: |
          rm -rf sample-provider || true
          wash new provider --silent --path $GITHUB_WORKSPACE/templates/provider/${{ matrix.template-name }} sample-provider
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-provider"
      - name: Go Lint
        uses: golangci/golangci-lint-action@4696ba8babb6127d732c3c6dde519db15edab9ea # v6.5.1
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-provider"
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-provider"

  component:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - http-hello-world
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: taiki-e/install-action@be7c31b6745feec79dec5eb79178466c0670bb2d # v2.49.49
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1}', env.WASH_VERSION, env.WASM_TOOLS_VERSION) }}
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version-file: "templates/component/${{ matrix.template-name }}/go.mod"
      - uses: acifani/setup-tinygo@b2ba42b249c7d3efdfe94166ec0f48b3191404f7 # v2.0.0
        with:
          tinygo-version: ${{ env.TINYGO_VERSION }}
      - name: wash new
        working-directory: ${{ runner.temp }}
        run: |
          rm -rf sample-component || true
          wash new component --silent --path $GITHUB_WORKSPACE/templates/component/${{ matrix.template-name }} sample-component
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-component"
      - name: Go Lint
        uses: golangci/golangci-lint-action@4696ba8babb6127d732c3c6dde519db15edab9ea # v6.5.1
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-component"
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-component"
