name: Templates

on:
  push:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"
  pull_request:
    branches: ["main"]
    paths:
      - ".github/workflows/templates-go.yaml"
      - "templates/**"

env:
  TINYGO_VERSION: "0.37.0"
  GOLANGCI_VERSION: "v2.1.6"
  WASH_VERSION: "0.37.0"
  WASM_TOOLS_VERSION: "1.225.0"
  WRPC_VERSION: "0.11.1"

permissions:
  contents: read

jobs:
  provider:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - keyvalue-inmemory
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: taiki-e/install-action@92f69c195229fe62d58b4d697ab4bc75def98e76 # v2.52.7
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1},wrpc@{2}', env.WASH_VERSION, env.WASM_TOOLS_VERSION, env.WRPC_VERSION) }}
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "templates/provider/${{ matrix.template-name }}/go.mod"
      - name: wash new
        working-directory: "${{ runner.temp }}"
        run: |
          rm -rf sample-provider || true
          wash new provider --silent --path $GITHUB_WORKSPACE/templates/provider/${{ matrix.template-name }} sample-provider
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-provider"
      - name: Go Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-provider"
          args: --config=${{ github.workspace }}/.golangci.yml
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-provider"

  component:
    # Context: https://github.com/golangci/golangci-lint-action/blob/v6.1.1/README.md#annotations
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow write access to checks to allow the action to annotate code in the PR.
      checks: write
    strategy:
      fail-fast: false
      matrix:
        template-name:
          - http-hello-world
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: taiki-e/install-action@92f69c195229fe62d58b4d697ab4bc75def98e76 # v2.52.7
        with:
          tool: ${{ format('wash@{0},wasm-tools@{1}', env.WASH_VERSION, env.WASM_TOOLS_VERSION) }}
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: "templates/component/${{ matrix.template-name }}/go.mod"
      - uses: acifani/setup-tinygo@db56321a62b9a67922bb9ac8f9d085e218807bb3 # v2.0.1
        with:
          tinygo-version: ${{ env.TINYGO_VERSION }}
      - name: wash new
        working-directory: ${{ runner.temp }}
        run: |
          rm -rf sample-component || true
          wash new component --silent --path $GITHUB_WORKSPACE/templates/component/${{ matrix.template-name }} sample-component
      - name: wash build
        run: wash build
        working-directory: "${{ runner.temp }}/sample-component"
      - name: Go Lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
        with:
          version: ${{ env.GOLANGCI_VERSION }}
          working-directory: "${{ runner.temp }}/sample-component"
          args: --config=${{ github.workspace }}/.golangci.yml
      - name: Go Test
        run: go test -v ./...
        working-directory: "${{ runner.temp }}/sample-component"
